@font-face {
    font-family: 'BMHannaPro';
    font-weight: normal;
    font-style: normal;
    src: url('BMHannaPro.eot');
    src: url('BMHannaPro.eot?#iefix') format('embedded-opentype'),
         url('BMHannaPro.woff2') format('woff2'),
         url('BMHannaPro.woff') format('woff'),
         url('BMHannaPro.ttf') format("truetype");
    font-display: swap;
} 